.DS_Store
*.py[cod]
*.jpg
*.gz
*.csv
*.html
*.json
*.sw*
*.profile
supernovae
tidaldisruptions
*.log
build/
dist/
src/
astrocats.egg-info/
wiki
blackholes
ads.key
catalog-test-input/
catalog-test-output/
