.DS_Store
*.py[cod]
*.jpg
*.gz
*.csv
*.html
*.json
*.sw*
*.profile
*.key
supernovae
tidaldisruptions
*.log
.eggs/
build/
dist/
src/
astrocats.egg-info/
wiki
blackholes
novae
kilonovae
faststars
ads.key
catalog-test-input/
catalog-test-output/
catexplorer/
astroschema
_*
