.event-table {
    background: #eee;
    border-collapse: collapse;
}

.event-cell {
    border: 3px solid white;
}

.event-tab-title {
    text-align: center;
}

.event-tab-div {
    float: left;
    margin: 5px;
}

.event-download {
    font-size: 20pt;
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
    background: lightgreen;
    width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.event-download:hover {
	text-decoration: underline;
}

.bk-hbox-spacer {
	margin-right: 0!important;
}

.bk-slider-horizontal {
	height: 30px!important;
}
