.event-table {
    background: #eee;
    border-collapse: collapse;
	width: 340px;
}

.event-cell {
    border: 3px solid white;
}

.event-tab-title {
    text-align: center;
	width: 350px;
}

.event-tab-div {
    float: left;
    margin: 5px;
	width: 350px;
}

.event-host-title {
    text-align: center;
	width: 260px;
}

.event-host-div {
    float: left;
    margin: 5px;
	width: 260px;
}

.event-download {
    font-size: 20pt;
    color: darkgreen;
    font-weight: bold;
    text-decoration: none;
    background: lightgreen;
    width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.event-download:hover {
	text-decoration: underline;
}

.bk-hbox-spacer {
	margin-right: 0!important;
}

.bk-slider-horizontal {
	height: 30px!important;
	margin-left: 15px!important;
	width: 200px!important;
}

.bk-hbox label {
	margin-left: 15px!important;
}
